# data files
data
results

# pytorch checkpoints
*.pt

# Python cache
*.pyc
**/__pycache__

# jupyter checkpoints
**/.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST